<ion-header>
  <ion-toolbar>
    <ion-title>My Friends</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="addfriend">
        +Friend
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)" placeholder="Type Name"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let data of searchData" (click)="presentAlert(data.key)">
      <ion-avatar>
        <ion-img [src]="data.linkfoto" class="center"></ion-img>
      </ion-avatar>
      <ion-label style="padding-left:10px;">{{data.nama}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>